@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flexStart{
  @apply flex items-center justify-start
}
.flexBetween{
  @apply flex items-center justify-between
}
.flexCenter{
  @apply flex items-center justify-center
}
.flexEnd{
  @apply flex items-center justify-end
}

.hover-effect {
  @apply transition-all duration-500 
}